{% extends "main/dash_main_layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block account_content%}

    <div class="wrapper">
      {% include 'main/manager/navbar.html' %}
      <!-- Left side column. contains the logo and sidebar -->
      {% include 'main/manager/sidebar.html' %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <i class="fa fa-dashboard"></i>
            Dashboard
            <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="{% url 'manager_dashboard' %}"><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">Dashboard</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{ applicant_total }}</h3>

                  <p>New Applicants</p>
                </div>
                <div class="icon">
                  <i class="fa fa-users"></i>
                </div>
                <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{ stack_total }}</h3>

                  <p>All Stacks</p>
                </div>
                <div class="icon">
                  <i class="fa fa-sitemap"></i>
                </div>
                <a href="{% url 'manager_stacks' %}" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-blue">
                <div class="inner">
                  <h3>{{ trainer_total }}</h3>

                  <p>All Trainers</p>
                </div>
                <div class="icon">
                  <i class="fa fa-group"></i>
                </div>
                <a href="{% url 'manager_team' %}" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{reservedTalents.count}}</h3>

                  <p>Reserved Talents</p>
                </div>
                <div class="icon">
                  <i class="fa fa-group"></i>
                </div>
                <a href="{% url 'manager_reservedList' %}" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!-- ./col -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-md-6">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    <i class="fa fa-group"></i> About Cohorts
                  </h3>
                </div>
                <div class="box-body no-padding">
                  <h5 class="card-title">Pie Chart</h5>
                  <!-- Pie Chart -->
                  <div id="pieChart"></div>
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#pieChart"), {
                        series: [44, 55, 13, 43, 22],
                        chart: {
                          height: 400,
                          type: 'pie',
                          toolbar: {
                            show: true
                          }
                        },
                        labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E']
                      }).render();
                    });
                  </script>
                  <!-- End Pie Chart -->
                </div>
              </div>
              <!--/.box -->
            </div>

            <div class="col-md-6">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    <i class="fa fa-group"></i> About Cohorts
                  </h3>
                </div>
                <div class="box-body no-padding">
                  <h5 class="card-title">Donut Chart</h5>
                  <!-- Donut Chart -->
                  <div id="donutChart"></div>
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#donutChart"), {
                        series: [44, 55, 13, 43, 22],
                        chart: {
                          height: 400,
                          type: 'donut',
                          toolbar: {
                            show: true
                          }
                        },
                        labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'],
                      }).render();
                    });
                  </script>
                  <!-- End Donut Chart -->
                </div>
              </div>
              <!--/.box -->
            </div>

            <div class="col-md-12">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    <i class="fa fa-group"></i> About Cohorts
                  </h3>
                </div>
                <div class="box-body no-padding">
                 <h5 class="card-title">Column Chart</h5>
                  <!-- Column Chart -->
                  <div id="columnChart"></div>
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#columnChart"), {
                        series: [
                        {
                          name: 'Net Profit',
                          data: [44, 55, 57, 96]
                        },{
                          name: 'Net Profit',
                          data: [44, 55, 57, 96]
                        },{
                          name: 'Net Profit',
                          data: [44, 55, 57, 96]
                        },{
                          name: 'Net Profit',
                          data: [44, 55, 57, 96]
                        }
                        ],
                        chart: {
                          type: 'bar',
                          height: 300
                        },
                        plotOptions: {
                          bar: {
                            horizontal: false,
                            columnWidth: '60%',
                            endingShape: 'rounded'
                          },
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          show: true,
                          width: 2,
                          colors: ['transparent']
                        },
                        xaxis: {
                          categories: ['Feb', 'Mar', 'Apr', 'May'],
                        },
                        yaxis: {
                          title: {
                            text: '$ (thousands)'
                          }
                        },
                        fill: {
                          opacity: 1
                        },
                        tooltip: {
                          y: {
                            formatter: function(val) {
                              return "$ " + val + " thousands"
                            }
                          }
                        }
                      }).render();
                    });
                  </script>
                  <!-- End Column Chart -->
                </div>
              </div>
              <!--/.box -->
            </div>
          {% if team %}
            <div class="col-md-12">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    <i class="fa fa-group"></i> OUR TEAM
                  </h3>
                  <div class="box-tools pull-right">
                    <button
                      type="button"
                      class="btn btn-box-tool"
                      data-widget="collapse"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-box-tool"
                      data-widget="remove"
                    >
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                  <ul class="users-list clearfix">
                    {% for trainer in team %}
                    <li>
                      <img
                        class=""
                        src="{{trainer.profilePicture.url}}"
                        style="
                          height: 100px !important;
                          width: 100px !important;
                        "
                        alt="{{trainer.user.first_name}} image"
                      />
                      <a
                        class="users-list-name"
                        href="{% url 'manager_trainerEdit' trainer.id %}"
                      >
                        {{trainer.user}}
                      </a>
                      <span class="users-list-date"
                        >{{trainer.specialization}}</span
                      >
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <a href="{% url 'manager_team' %}" class="uppercase">
                    View More info
                  </a>
                </div>
                <!-- /.box-footer -->
              </div>
              <!--/.box -->
            </div>
          {% endif %}
          </div>

          <!-- Main row -->
          <div class="row"></div>
          <!-- /.row (main row) -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      {% include 'main/manager/footer.html' %}
    </div>
    {% endblock %}
  </body>
</html>
