{% load static %}

<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img
          src="{{user.managers.profilePicture.url}}"
          class="img-circle"
          alt="User Image"
        />
      </div>
      <div class="pull-left info">
        <p>{{user.first_name}} {{user.last_name}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="{{dash_active}}">
        <a href="{% url 'manager_dashboard' %}">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          <span class="pull-right-container"> </span>
        </a>
      </li>
      <li class="header">PARTNER</li>
      <li class="{{partner_active}}">
        <a href="{% url 'manager_partners' %}">
          <i class="fa fa-building-o"></i>
          <span>Companies</span>
        </a>
      </li>
      <li class="header">TALENTS</li>
      <li class="treeview {{talent_active}}">
        <a href="#">
          <i class="fa fa-group"></i>
          <span>Talents</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="{{talentA_active}}">
            <a href="{% url 'manager_outsourcedList' %}">
              <i class="fa fa-circle-o text-aqua"></i> Outsourced
            </a>
          </li>
          <li class="{{talentB_active}}">
            <a href="{% url 'manager_reservedList' %}">
              <i class="fa fa-circle-o text-aqua"></i> Reserved Talents
            </a>
          </li>
        </ul>
      </li>
      <li class="header">TRAINING</li>
      <li class="{{cohort_active}}">
        <a href="{% url 'manager_cohorts' %}">
          <i class="fa fa-list"></i>
          <span>Cohorts</span>
        </a>
      </li>
      <li class="{{stacks_active}}">
        <a href="{% url 'manager_stacks' %}">
          <i class="fa fa-sitemap"></i>
          <span>Stacks</span>
        </a>
      </li>
      <li class="{{team_active}}">
        <a href="{% url 'manager_team' %}">
          <i class="fa fa-group"></i>
          <span>Team</span>
          <span class="pull-right-container"> </span>
        </a>
      </li>

      <li class="treeview {{application_active}}">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Applicants</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          {% if cohorts %} {% for cohort in cohorts %}
          <li>
            <a href="{% url 'manager_applicantsList' cohort.id %}">
              <i class="fa fa-circle-o text-aqua"></i>
              {{cohort.cohort_name}}
            </a>
          </li>
          {% endfor %} {% endif %}
        </ul>
      </li>
      <li class="treeview {{trainees_active}}">
        <a href="#">
          <i class="fa fa-group"></i> <span>Trainees</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          {% if cohorts %} {% for cohort in cohorts %}
          <li>
            <a href="{% url 'manager_traineesList' cohort.id %}">
              <i class="fa fa-circle-o text-aqua"></i>
              {{cohort.cohort_name}}
            </a>
          </li>
          {% endfor %} {% endif %}
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
