{% extends "main/dash_main_layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block account_content%}

    <div class="wrapper">
      {% include 'main/manager/navbar.html' %}
      <!-- Left side column. contains the logo and sidebar -->
      {% include 'main/manager/sidebar.html' %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <i class="fa fa-user"></i>
            Talent Profile
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="{% url 'manager_dashboard' %}"><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li>
              <a href="{% url 'manager_traineesList' %}"
                ><i class="fa fa-group"></i> Talents List</a
              >
            </li>
            <li class="active">Talent Profile</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#profile" class="text-uppercase" data-toggle="tab">
                      {{talent.user.first_name}} {{talent.user.last_name}}
                      PROFILE
                    </a>
                  </li>
                  <li class="pull-right">
                    <button
                      type="button"
                      class="btn btn-flat btn-primary pull-right"
                      data-toggle="modal"
                      data-target="#modal-default"
                    >
                      <i class="fa fa-cogs"></i> Action
                    </button>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="active tab-pane" id="profile">
                    <div class="box-body box-profile">
                      {% if talent.profilePicture %}
                      <img
                        class="profile-user-img img-responsive img-circle"
                        src="{{talent.profilePicture.url}}"
                        style="width: 200px !important"
                        alt="{{talent.user.first_name}} image"
                      />
                      {% else %}
                      <img
                        class="profile-user-img img-responsive img-circle"
                        src="{% static 'images/anonymous.png' %}"
                        style="width: 200px !important"
                        alt="{{talent.user.first_name}} image"
                      />
                      {% endif %}

                      <h3 class="profile-username text-center">
                        {{talent.user.first_name}} {{talent.user.last_name}}
                      </h3>

                      <h3 class="text-bold text-muted text-center">Trainer</h3>
                      <p class="text-muted text-center">
                        <sup><i class="fa fa-quote-left"></i></sup>
                        <span class="h4 text-bold">
                          {{talent.stack.name}}
                        </span>
                        <sup><i class="fa fa-quote-right"></i></sup>
                      </p>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <div class="row">
                        <div class="col-lg-6">
                          <strong> <i class="fa fa-user"></i> Names: </strong>
                          <p class="text-muted">
                            {{talent.user.first_name}}
                            {{talent.user.last_name}}
                          </p>
                          <hr />

                          <strong>
                            <i class="fa fa-envelope"></i> Email:
                          </strong>
                          <p class="text-muted">{{talent.user.email}}</p>
                          <hr />

                          <strong>
                            <i class="fa fa-phone"></i> Contact Phone:
                          </strong>
                          <p class="text-muted">{{talent.phone1}}</p>
                          <hr />

                          <strong>
                            <i class="fa fa-male"></i> /
                            <i class="fa fa-female"></i>
                            Gender:
                          </strong>
                          <p class="text-muted">{{talent.user.gender}}</p>
                          <hr />

                          <strong>
                            <i class="fa fa-map-marker"></i> Location:
                          </strong>
                          <p class="text-muted">{{talent.locationAddress}}</p>
                          <hr />
                        </div>
                        <div class="col-lg-6">
                          <strong>
                            <i class="fa fa-sitemap"></i> Stack:
                          </strong>
                          <p class="text-muted">{{talent.stack.name}}</p>
                          <hr />

                          <strong>
                            <i class="fa fa-github"></i> Git Account Link:
                          </strong>
                          <p class="text-muted">
                            <a href="{{talent.git_account}}" target="_blank">
                              {{talent.git_account}}
                            </a>
                          </p>
                          <hr />

                          <strong>
                            <i class="fa fa-file"></i> Attached CV Document:
                          </strong>
                          <p class="text-muted">
                            {% if talent.cv_document %} {{talent.cv_document}}
                            <br />
                            <br />
                            <a
                              href="{{talent.cv_document.url}}"
                              target="_blank"
                              class="btn btn-primary btn-sm"
                            >
                              <i class="fa fa-download"></i>
                              Download
                            </a>
                            {% else %} No CV {% endif %}
                          </p>
                        </div>
                        <hr />
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
                <!-- /.tab-content -->
              </div>
              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
          </div>
        </section>
        <!-- /.content -->

        <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                  <i class="fa fa-cogs"></i> DEPLOYMENT FOR TALENT
                </h4>
              </div>
              <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <p class="text-center">Select the partner from a list to deploy.</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-flat btn-default pull-left"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    class="btn btn-flat btn-primary"
                    name="deploy_talent"
                  >
                    <i class="fa fa-check"></i>
                    Deploy
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- /.content-wrapper -->

      {% include 'main/manager/footer.html' %}
    </div>
    {% endblock %}
  </body>
</html>
