{% extends "main/dash_main_layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block account_content%}

    <div class="wrapper">
      {% include 'main/manager/navbar.html' %}
      <!-- Left side column. contains the logo and sidebar -->
      {% include 'main/manager/sidebar.html' %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <i class="fa fa-group"></i>
            Trainees for
            <span class="text-blue">{{current_cohort.cohort_name}}</span>
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="{% url 'manager_dashboard' %}"><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">Trainees</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-lg-12">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    <i class="fa fa-sitemap"></i> About Stacks
                  </h3>
                </div>
                <div class="box-body no-padding">
                  <!-- Pie Chart -->
                  <div id="pieChart"></div>
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#pieChart"), {
                        series: [
                        {% for stack_name, trainee_count in trainee_numbers.items %}
                        {{ trainee_count }},
                        {% endfor %}
                        ],
                        chart: {
                          height: 350,
                          type: 'pie',
                          toolbar: {
                            show: true
                          }
                        },
                        tooltip: {
                          y: {
                            formatter: function(val) {
                              return val + " Trainee(s)"
                            }
                          }
                        },
                        labels: [
                        {% for stack_name, trainee_count in trainee_numbers.items %}
                        '{{ stack_name }}',
                        {% endfor %}
                        ]
                      }).render();
                    });
                  </script>
                  <!-- End Pie Chart -->
                </div>
              </div>
              <!--/.box -->
            </div>

            <div class="col-lg-12">
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">All Trainees ({{trainees.count}})</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table
                    id="example1"
                    class="table table-bordered table-striped"
                  >
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>IMAGE</th>
                        <th>FULL NAMES</th>
                        <th>STACK</th>
                        <th>CONTACT</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if trainees %} {% for trainee in trainees %}
                      <tr>
                        <td>{{ forloop.counter }}.</td>
                        <td>
                          {% if trainee.profilePicture %}
                          <img
                            class="profile-user-img img-responsive img-circle"
                            src="{{trainee.profilePicture.url}}"
                            width="120px"
                            alt="{{trainee.user.first_name}} image"
                          />
                          {% else %}
                          <img
                            class="profile-user-img img-responsive img-circle"
                            src="{% static 'images/anonymous.png' %}"
                            width="90px"
                            alt="{{trainee.user.first_name}} image"
                          />
                          {% endif %}
                        </td>
                        <td>
                          {{trainee.user.first_name}} {{trainee.user.last_name}} <br />
                          Gender: {{trainee.user.gender}}
                        </td>
                        <td>{{trainee.stack.name}}</td>
                        <td>
                          Email: {{trainee.user.email}}<br />
                          Phome: {{trainee.phone1}}
                        </td>
                        <td>
                          <div class="pull-right">
                            <a
                              href="{% url 'manager_traineesProfile' current_cohort.id trainee.id %}"
                              class="btn btn-flat btn-info"
                              ><i class="fa fa-eye"></i> View</a
                            >
                          </div>
                        </td>
                      </tr>
                      {% endfor %} {% endif %}
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      {% include 'main/manager/footer.html' %}
    </div>
    {% endblock %}
  </body>
</html>
