{% extends "main/dash_main_layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block account_content%}

    <div class="wrapper">
      {% include 'main/trainer/navbar.html' %}
      <!-- Left side column. contains the logo and sidebar -->
      {% include 'main/trainer/sidebar.html' %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <i class="fa fa-group"></i>
            Trainees for
            <span class="text-blue">{{current_cohort.cohort_name}}</span>
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="#"><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">Trainees</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-lg-8">
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">All Trainees ({{trainees_total}})</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table
                    id="example1"
                    class="table table-bordered table-striped"
                  >
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>IMAGE</th>
                        <th>FULL NAMES</th>
                        <th>STACK</th>
                        <th>CONTACT</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if trainees %} {% for trainee in trainees %}
                      <tr>
                        <td>{{ forloop.counter }}.</td>
                        <td>
                          {% if trainee.profilePicture %}
                          <img
                            class="profile-user-img img-responsive img-circle"
                            src="{{trainee.profilePicture.url}}"
                            width="40px"
                            alt="{{trainee.user.first_name}} image"
                          />
                          {% else %}
                          <img
                            class="profile-user-img img-responsive img-circle"
                            src="{% static 'images/anonymous.png' %}"
                            width="40px"
                            alt="{{trainee.user.first_name}} image"
                          />
                          {% endif %}
                        </td>
                        <td>
                          {{trainee.user.first_name}} {{trainee.user.last_name}}
                        </td>
                        <td>{{trainee.stack.name}}</td>
                        <td>
                          Email: {{trainee.user.email}}<br />
                          Phome: {{trainee.phone1}}
                        </td>
                        <td>
                          <div class="pull-right">
                            <a
                              href="{% url 'trainer_traineeProfile' current_cohort.id trainee.id %}"
                              class="btn btn-flat btn-info"
                              ><i class="fa fa-eye"></i> View</a
                            >
                          </div>
                        </td>
                      </tr>
                      {% endfor %} {% endif %}
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-lg-4">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Groups</h3>
                  {% if not current_cohort.status %}
                  <div class="box-tools pull-right">
                    <button
                      type="button"
                      class="btn btn-flat btn-sm btn-primary pull-right"
                      data-toggle="modal"
                      data-target="#groupModel"
                    >
                      <i class="fa fa-plus"></i>
                      New
                    </button>
                  </div>
                  {% endif %}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  {% if groups %}
                  <ul class="list-group list-group-flush">
                    {% for group in groups %}
                    <li class="list-group-item">
                      <div class="card-header">
                        <h5 class="mb-2">
                          <a class="text-bold" href="{% url 'trainer_traineeGroup' current_cohort.id group.id %}">
                            {{group.group_name}}
                          </a>
                          <a class="collapsed text-bold" href="#" data-toggle="collapse" data-target="#data{{group.id}}" aria-expanded="true">
                            <span class="badge bg-blue pull-right badge-pill"> Members {{group.trainee_count}}</span>
                          </a>
                        </h5>
                      </div>
                      <div id="data{{group.id}}" class="collapse">
                        <ul class="list-group list-group-flush">
                          {% for member in group.trainees.all %}
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                              {% if member.profilePicture %}
                              <img src="{{member.profilePicture}}" width="30px" alt="{{member.user.first_name}}" />
                              {% else %}
                              <img src="{% static 'images/anonymous.png' %}" width="30px" alt="{{member.user.first_name}}" />
                              {% endif %}
                              <a href="{% url 'trainer_traineeProfile' current_cohort.id member.id %}" class="product-titles">
                                {{member.user}}
                              </a>
                          </li>
                          {% endfor%}
                        </ul>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
          </div>
        </section>
        <!-- /.content -->


          <div class="modal fade" id="groupModel">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title">
                    <i class="fa fa-group"></i> ADD NEW GROUP
                  </h4>
                </div>
                <form method="post">
                  {% csrf_token %}
                  <div class="modal-body">
                    <div class="form-group mb-0">
                      <label class="col-form-label">Name</label>
                      <input
                        type="text"
                        class="form-control form-control-uppercase"
                        name="name"
                        placeholder="Group Name"
                        required
                      />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-flat btn-default pull-left"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="submit"
                      name="submit"
                      class="btn btn-flat btn-primary"
                    >
                      <i class="fa fa-save"></i>
                      Submit
                    </button>
                  </div>
                </form>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
      </div>
      <!-- /.content-wrapper -->

      {% include 'main/trainer/footer.html' %}
    </div>
    {% endblock %}
  </body>
</html>
