<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>SOMS - {{ title }}</title>
    {% else %}
    <title>SOMS</title>
    {% endif%}

    <link rel="stylesheet" href="{% static 'main.css' %}" />
  </head>

  <body>
    <!-- Body -->
    <h2>THIS IS HOME PAGE</h2>
    <!-- ./Body -->
  </body>
</html>
