{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOMS</title>
  </head>
  <body>
    {% block index_content%}

    <!-- Slider Area -->
    <section class="home-slider">
      <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider overlay">
          <div
            class="slider-image"
            style="
              background-image: url('{% static 'images/slider/slider-bg1.jpg' %}');
            "
          ></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-7 col-md-10 col-12">
                <!-- Slider Content -->
                <div class="slider-content">
                  <h1 class="slider-title">
                    <span
                      >Unlock Your Coding Potential and Master the Future of
                      Software Development</span
                    >Welcome to SOMS Training Center!
                  </h1>
                  <p class="slider-text">
                    Explore our comprehensive training programs in various
                    coding stacks and take your skills to new heights. Whether
                    you're a beginner or an experienced developer, our expert
                    instructors will guide you through hands-on projects and
                    real-world scenarios to ensure your success.
                  </p>
                  <!-- Button -->
                  <div class="button">
                    <a href="{% url 'home_page' %}#courses" class="btn white">
                      <i class="fa fa-clone"></i> Our Courses
                    </a>
                    <a
                      href="{% url 'home_page' %}#join_us"
                      class="btn white primary"
                    >
                      <i class="fa fa-user-plus"></i> Join Us
                    </a>
                  </div>
                  <!--/ End Button -->
                </div>
                <!--/ End Slider Content -->
              </div>
            </div>
          </div>
        </div>
        <!--/ End Single Slider -->
      </div>
    </section>
    <!--/ End Slider Area -->

    {% if courses %}
    <!-- Courses -->
    <section class="courses section" id="courses">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3 col-12">
            <div class="section-title bg">
              <h2>Our <span>Courses</span></h2>
              <p>
                Explore our comprehensive training programs in various coding
                stacks, including:
              </p>
              <div class="icon"><i class="fa fa-clone"></i></div>
            </div>
          </div>
        </div>
        <div class="row">
          {% for course in courses %}
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Course -->
            <div class="single-course">
              <!-- Course Body -->
              <div class="course-body">
                <h4 class="c-title">
                  <a href="course-single.html" class="text-primary"
                    >{{course.name}}</a
                  >
                </h4>
                <p>{{course.description}}</p>
              </div>
            </div>
            <!--/ End Single Course -->
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--/ End Courses -->
    {% endif %}

    <!-- Call To Action -->
    <section class="cta">
      <div
        class="cta-inner overlay section"
        style="background-image: url('{% static 'images/cta-bg.jpg' %}')"
        data-stellar-background-ratio="0.5"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
              <div class="text-content">
                <h2>
                  Discover the power of coding at
                  <b class="text-primary">SOMS</b> Training Center!
                </h2>
                <p>
                  Join us today and embark on a transformative learning journey
                  that will empower you to thrive in the world of software
                  development.
                </p>
                <!-- CTA Button -->
                <div class="button">
                  <a class="btn white" href="contact.html">Join Now</a>
                </div>
                <!--/ End CTA Button -->
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <!-- Cta Image -->
              <div class="cta-image">
                <img src="{% static 'images/girl-1.png' %}" alt="#" />
              </div>
              <!--/ End Cta Image -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ End Call To Action -->

    {% if instructors %}

    <!-- Teachers -->
    <section class="teachers archive section" id="instructors">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3 col-12">
            <div class="section-title bg">
              <h2>Meet Our Team <span>Instructors</span></h2>
              <p>
                Able an hope of body. Any nay shyness article matters own
                removal nothing his forming. Gay own additions education
                satisfied the perpetual. If he cause manor happy
              </p>
              <div class="icon"><i class="fa fa-users"></i></div>
            </div>
          </div>
        </div>
        <div class="row">
          {% for instructor in instructors %}
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Single Instructor -->
            <div class="single-teacher">
              <div class="teacher-head overlay">
                <img
                  style="min-width: 100% !important; height: 300px !important"
                  src="{{instructor.profilePicture.url}}"
                  alt="{{instructor.user.first_name}}"
                />
              </div>
              <div class="teacher-content">
                <h4>
                  {{instructor.user.first_name}} {{instructor.user.last_name}}
                  <span>{{instructor.specialization}}</span>
                </h4>
              </div>
            </div>
            <!--/ End Single Instructor -->
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--/ End Teachers -->
    {% endif %}

    <!-- Features -->
    <div class="features overlay section" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Feature -->
            <div class="single-feature">
              <div class="icon-img">
                <img src="{% static 'images/feature1.jpg' %}" alt="#" />
                <i class="fa fa-clone"></i>
              </div>
              <div class="feature-content">
                <h4 class="f-title">Trending Course</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aperiam suscipit fugiat sint totam soluta assumenda
                </p>
              </div>
            </div>
            <!--/ End Single Feature -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Feature -->
            <div class="single-feature">
              <div class="icon-img">
                <img src="{% static 'images/feature1.jpg' %}" alt="#" />
                <i class="fa fa-institution"></i>
              </div>
              <div class="feature-content">
                <h4 class="f-title">Best Facility</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aperiam suscipit fugiat sint totam soluta assumenda
                </p>
              </div>
            </div>
            <!--/ End Single Feature -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Feature -->
            <div class="single-feature">
              <div class="icon-img">
                <img src="{% static 'images/feature3.jpg' %}" alt="#" />
                <i class="fa fa-users"></i>
              </div>
              <div class="feature-content">
                <h4 class="f-title">Certified Instructors</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aperiam suscipit fugiat sint totam soluta assumenda
                </p>
              </div>
            </div>
            <!--/ End Single Feature -->
          </div>
        </div>
      </div>
    </div>
    <!--/ End Features -->

    <!-- Contact Us -->
    <section id="contact_us" class="contact section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3 col-12">
            <div class="section-title bg">
              <h2>Contact <span>Us</span></h2>
              <p>
                We’re willing to answer any questions you may have about our
                services and offerings.
              </p>
              <div class="icon"><i class="fa fa-paper-plane"></i></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-8 col-12">
            <div class="form-head">
              <!-- Contact Form -->
              <form class="form" action="mail/mail.php">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <i class="fa fa-user"></i>
                      <input
                        name="first-name"
                        type="text"
                        placeholder="First name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <i class="fa fa-envelope"></i>
                      <input
                        name="last-name"
                        type="text"
                        placeholder="Last name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <i class="fa fa-envelope"></i>
                      <input
                        name="email"
                        type="email"
                        placeholder="Email address"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <i class="fa fa-envelope"></i>
                      <input name="url" type="url" placeholder="Website url" />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group message">
                      <i class="fa fa-pencil"></i>
                      <textarea
                        name="message"
                        placeholder="Type your message"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <div class="button">
                        <button type="submit" class="btn primary">
                          Send Message
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <!--/ End Contact Form -->
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="contact-right">
              <!-- Contact-Info -->
              <div class="contact-info">
                <div class="icon"><i class="fa fa-map"></i></div>
                <h3>Our Collage Location</h3>
                <p>
                  60 Grant ave. Central New Road 0708, United states of America
                </p>
              </div>
              <!-- Contact-Info -->
              <div class="contact-info">
                <div class="icon"><i class="fa fa-envelope"></i></div>
                <h3>contact information</h3>
                <p>
                  <a href="mailto:info@example.com">support@yourwebsite.com</a>
                </p>
                <p>+123 456-7890</p>
              </div>
              <!-- Contact-Info -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ End Contact Us -->

    {% endblock %}
  </body>
</html>
