{% extends "main/dash_main_layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    {% block account_content%}

    <div class="wrapper">
      {% include 'main/trainee/navbar.html' %}
      <!-- Left side column. contains the logo and sidebar -->
      {% include 'main/trainee/sidebar.html' %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <i class="fa fa-file"></i>
            Assigment Report
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="{% url 'trainee_dashboard' %}"><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li> <i class="fa fa-sitemap"></i> {{current_cohort.cohort_name}}</li>
            <li>
              <a href="{% url 'trainee_assignmentList' current_cohort.id %}"><i class="fa fa-tasks"></i> Assignments</a>
            </li>
            <li>
              <a href="{% url 'trainee_assignmentDetails' current_cohort.id assignment.id %}"> Assignment</a>
            </li>
            <li class="active">Report</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-lg-8">
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">{{report.group.group_name}}: Assignment Report</h3>
                  {% if not current_cohort.status %}
                  {% if not report.status %}
                  <button
                    type="button"
                    class="btn btn-flat btn-default pull-right"
                    data-toggle="modal"
                    data-target="#modal-default"
                  >
                    <i class="fa fa-square-o"></i>
                    Mark report
                  </button>
                  {% else %}
                  <button
                    type="button"
                    class="btn btn-flat btn-default pull-right"
                    data-toggle="modal"
                    data-target="#modal-default"
                  >
                    <i class="fa fa-check-square-o text-primary"></i>
                    Marked
                  </button>
                  {% endif %}
                  {% endif %}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  {% if report %}
                  <div class="list-group">
                    <div
                      class="list-group-item list-group-item-action"
                    >
                      <div class="d-flex w-100 justify-content-between">
                        <p>
                          <span class="text-bold">
                            Description:
                          </span>
                          <br />{{report.description}}
                        </p>
                        {% if report.documentFiles %}
                        <p>
                          <span class="text-bold">
                            File:
                          </span>
                          <br />
                          <a href="{{report.documentFiles.url}}" target="_blank" download>{{report.documentFiles}}</a>
                        </p>
                        {% else %}
                        <p>
                          <span class="text-bold">
                            File:
                          </span> 
                          <span class="badge badge-primary badge-pill">No File Submitted</span>
                        </p>
                        {% endif %}
                        <span>Submitted date: {{report.createdDate}}</span>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">Comment</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  {% if report.feedbacks %}
                  <div class="list-group">
                    <br/>
                    <div class="list-group-item">
                      <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">
                          <span class="text-bold">
                            Grade: 
                          </span>
                          {{report.feedbacks.grade}}
                        </h4>
                      </div>
                      <p class="mb-1">
                        <span class="text-bold">
                          Comment: 
                        </span>
                        <br/>{{report.feedbacks.comment}}
                      </p>
                      <span class="label label-default">Marked on: {{report.feedbacks.createdDate}}</span> 
                    </div>
                    <br/>
                  </div>
                  {% else %}
                  <p class="mb-1">
                    <span class="text-warning">
                      Waiting for feedback ...
                    </span>
                  </p>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">Assignment</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  {% if assignment %}
                  <div class="list-group">
                    <br/>
                    <div
                      class="list-group-item list-group-item-action"
                    >
                      <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">
                          Title: {{assignment.title}}
                        </h4>
                      </div>
                      <p class="mb-1"><i class="fa fa-bullhorn"></i> {{assignment.description}}</p>
                      {% if assignment.documentFiles %}
                      <span class="text-md"> <i class="fa fa-file"></i> {{assignment.documentFiles}}</span>
                      {% endif %}
                      <span class="label label-primary">Due date: {{assignment.dueDate}}</span> 
                    </div>
                    <br/>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">{{report.group.group_name}}</h3>
    
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"> <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <ul class="list-group list-group-flush">
                    <h5>Group members</h5>
                    {% for member in report.group.trainees.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      {% if member.profilePicture %}
                        <img src="{{member.profilePicture}}" width="30px" alt="{{member.user.first_name}}" />
                        {% else %}
                        <img src="{% static 'images/anonymous.png' %}" width="30px" alt="{{member.user.first_name}}" />
                        {% endif %}
                        <a href="{% url 'trainee_traineeProfile' current_cohort.id member.id %}" class="product-titles">
                          {{member.user}}
                        </a>
                    </li>
                    {% endfor%}
                  </ul>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>

          </div>

          <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title">
                    <i class="fa fa-tasks"></i> MARKING OF ASSIGNMENT REPORT
                  </h4>
                </div>
                <form method="post">
                  {% csrf_token %}
                  <div class="modal-body">
                    <div class="form-group mb-0">
                      <label class="col-form-label">Grade</label>
                      <input
                        type="text"
                        class="form-control form-control-uppercase"
                        name="grade"
                        placeholder="Grade"
                        value="{{ report.feedbacks.grade }}"
                        required
                      />
                    </div>
                    <div class="form-group mb-0">
                      <label class="col-form-label">Comment on Report</label>
                      <textarea
                        class="form-control"
                        rows="5"
                        placeholder="Comment ..."
                        name="comment"
                        required
                      >{{ report.feedbacks.comment }}</textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-flat btn-default pull-left"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    {% if not report.status %}
                    <button
                      type="submit"
                      name="submit"
                      class="btn btn-flat btn-primary"
                    >
                      <i class="fa fa-check-square-o"></i>
                      Mark Report
                    </button>
                    {% else %}
                    <button
                      type="submit"
                      name="update_comment"
                      class="btn btn-flat btn-primary"
                    >
                      Save Changes
                    </button>
                    {% endif %}
                  </div>
                </form>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      {% include 'main/manager/footer.html' %}
    </div>
    {% endblock %}
  </body>
</html>
